{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">로그인</h5>
    <form method="post" novalidate>
        {{ form.csrf_token }}
        {% include 'form_errors.html' %}

        {{ form.username.label }}
        {{ form.username(class="form-control mb-3") }}

        {{ form.password.label }}
        {{ form.password(class="form-control mb-3") }}

        <div class="d-flex gap-2">
            {{ form.submit(class="btn btn-primary") }}
            <a class="btn btn-outline-secondary" href="{{ url_for('auth.signup') }}">회원가입</a>
        </div>
        <div class="mt-3">
            <a href="{{ url_for('auth.find_info') }}">아이디 찾기 / 비밀번호 재설정</a>
        </div>
    </form>
</div>
{% endblock %}
